#Connection Strings
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=your_database_name_here;Username=Your_username_here;Password=your_password_here

#Security
JwtSettings__Secret=your_jwt_secret_here

#Email
EMAIL_USER=your_email
EMAIL_PASS=your_email_app_password_without_whitespaces

#Google Auth
GOOGLE_CLIENT_ID=your_google_auth_client_id